@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family: 'Roboto', sans-serif;


* {
	margin: 0;
	box-sizing: border-box;
}

html>body {
  background-color: #d5d5e3;
  background-image:  radial-gradient(#ffffff 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#ffffff 0.9500000000000001px, #d5d5e3 0.9500000000000001px);
  background-size: 38px 38px;
  background-position: 0 0,19px 19px;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
  
/* Navbar */

.nav-font {
    font-family: 'Roboto', cursive;
    font-weight: 800;
  }

/* Landing Page Image Container  */
.image-container {
  position: relative;
}

.image-container-body {
  opacity: 0.3;
}

.image-container:hover {
  color: rgb(81, 48, 202);
  box-shadow: 0 10px 25px rgba(1, 2, 15, 0.4);
  opacity: 0.5;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #518cf1;
  opacity: 0.8;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

.post-link {
  text-decoration: none;
  color: #445261;
}

.post-link:hover,
.page-link {
  color: #518cf1;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.text-background {
  color: bisque;
  opacity: 0.4;
}

/* Form */
.login-form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  margin-left: 5%;
  margin-right: 20%;
  margin-bottom: 10%;
}

/* Footer */
.footer {
  width: 100%;
  bottom: 0%;
  left:0;
  right:0;
  height:10px;
  position: absolute;
  margin-top: 10%;
}

  /* Extra Small devices (landscape phones, 350px and up) */
  @media  (min-width: 350px) {
    .img { height:100%; width:100%;}
    .login-form {width: 90%;}
  }

  /* Small devices (landscape phones, 576px and up) */
  @media  (min-width: 576px) {
    .img { height:100%; width:60%;}
    .login-form {width: 90%;}
  }
  

  /* Medium devices (tablets, 768px and up) */
   @media (min-width: 768px) {
    .img { height:80%; width:80%;}
  } 
  