{% extends 'base.html' %}
{% block title %}
    Edit Profile Page
{% endblock %}
{% load crispy_forms_tags %}

<br/><br/>
{% block content %}

<h1>Edit Profile Page</h1>

{% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
        
        <div class="form-group login-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark">Update Profile Page</button>
        </div>


    {% else %}

    You are not the correct User to Edit
        
    {% endif %}

    {% else %}

    To Edit, Add or Delete Post You Need To Login or Register First!
    
    {% endif %} 
    
{% endblock %}