@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family: 'Roboto', sans-serif;


* {
	margin: 0;
	box-sizing: border-box;
}


.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #bb232b;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.post-link {
  text-decoration: none;
  color: #445261;
}

.post-link:hover,
.page-link {
  color: #E84610;
}

.post-title {
  margin-top: 20%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}


html>body {
  background-color: #d5d5e3;
  background-image:  radial-gradient(#ffffff 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#ffffff 0.9500000000000001px, #d5d5e3 0.9500000000000001px);
  background-size: 38px 38px;
  background-position: 0 0,19px 19px;
  }

  .nav-font {
    font-family: 'Roboto', cursive;
    font-weight: 800;
  }

  /* Extra Small devices (landscape phones, 350px and up) */
  @media  (min-width: 350px) {
    .img { height:100%; width:100%;}
  }

  /* Small devices (landscape phones, 576px and up) */
  @media  (min-width: 576px) {
    .img { height:100%; width:100%;}
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  
    .img { height:100%; width:100%;}
  }
  