@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family: 'Roboto', sans-serif;


* {
	margin: 0;
	box-sizing: border-box;
}



html>body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #dbdbde;
    background-image: radial-gradient(#fffdfd 0.6000000000000001px, #c4c4c9 0.6000000000000001px);
  }
  


  .nav-font {
    font-family: 'Roboto', cursive;
    font-weight: 800;
  }

/* Small devices (landscape phones, 576px and up) */
  @media  (min-width: 576px) {
    .img { height:100%; width:100%;}
    
  
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  
    .img { height:100%; width:100%;}
   
  
  }
  