{% extends 'base.html' %}
{% block title %}Create A New Category!{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<br/><br/>
{% if user.is_authenticated %}
    <h1>Add Category</h1>
    <br/><br/>
    <div class="form-group login-form">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-dark">Add Category</button>
    </div>

{% else %}

    <h3>To Edit, Add or Delete Post You Need To Login or Register First!</h3>
    
{% endif %}
    
    
{% endblock %}